[submodule "/home/lapinou/.config/nushell/nu_scripts"]
	path = /home/lapinou/.config/nushell/nu_scripts
	url = git@github.com:nushell/nu_scripts
[submodule "nvim.conf"]
	path = nvim.conf
	url = git@codeberg.org:landre/nvim.conf.git
